@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Press+Start+2P&display=swap');

@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: $content-font-family;
}
body {
  background: #efefef;
}

img {
    width: 75%;
    border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    color: $primary-gray-color;
}

p {
  font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

    p, a {
        color: $secondary-gray-color;
        margin: .3rem 0;
    }

* {
    box-sizing: border-box;
}
