@import 'variables';

.skills {
    min-width: 80vw;
    display: flex;
    justify-content: center;

    h3 {
        text-align: center;
    }

    .skillCard {
        width: 100%;
    }

    .skill {
        margin: 1rem 0;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .skills {
        flex-direction: column;
    }
}
