@import 'variables';

.skills {
    width: 100%;
    display: flex;

    .skillCard {
        width: 33%;
    }

    .skill {
        margin: 1rem 0;
        display: flex;
        justify-content: center;
    }

    .progressBar {
        background-color: $primary-gray-color;
        width: 100%;
        max-height: 10px;
        margin-left: 1rem;
        border-radius: 5px;

        .completed {
            height: 100%;
            background-color: $completed-color;
            border-radius: 5px;
        }
    }

    // Front-end Tech
    .htmlCss {
        .completed {
            width: 99%;
        }
    }

    .javascript {
        .completed {
            width: 95%;
        }
    }

    .react {
        .completed {
            width: 90%;
        }
    }

    .bootstrap {
        .completed {
            width: 95%;
        }
    }
    .tailwind {
        .completed {
            width: 75%;
        }
    }
    .materialize {
        .completed {
            width: 50%;
        }
    }
    .sass {
        .completed {
            width: 90%;
        }
    }
    .gsap {
        .completed {
            width: 30%;
        }
    }
    .async {
        .completed {
            width: 99%;
        }
    }
    .fetch {
        .completed {
            width: 99%;
        }
    }
    .axios {
        .completed {
            width: 99%;
        }
    }

    // back-end tech
    .node {
        .completed {
            width: 80%;
        }
    }
    .aws {
        .completed {
            width: 80%;
        }
    }
    .firebase {
        .completed {
            width: 80%;
        }
    }
    .multer {
        .completed {
            width: 95%;
        }
    }
    .sql {
        .completed {
            width: 75%;
        }
    }
    .python {
        .completed {
            width: 95%;
        }
    }
    .django {
        .completed {
            width: 95%;
        }
    }
    .rest {
        .completed {
            width: 99%;
        }
    }
    .postman {
        .completed {
            width: 99%;
        }
    }
    .postgres {
        .completed {
            width: 50%;
        }
    }

    // Other Tech
    .vscode {
        .completed {
            width: 99%;
        }
    }
    .git {
        .completed {
            width: 95%;
        }
    }
    .gimp {
        .completed {
            width: 50%;
        }
    }
    .jira,
    .trello,
    .clickUp {
        .completed {
            width: 90%;
        }
    }
    .scrum {
        .completed {
            width: 95%;
        }
    }
    .solidity {
        .completed {
            width: 50%;
        }
    }
    .blender {
        .completed {
            width: 90%;
        }
    }
    .csharp {
        .completed {
            width: 30%;
        }
    }
    .cplusplus {
        .completed {
            width: 25%;
        }
    }
    .java {
        .completed {
            width: 60%;
        }
    }
}

@media screen and (max-width: 768px) {
    .skills {
        flex-direction: column;
    }
}
