$heading-font-family: 'Press Start 2P', cursive;
$content-font-family: 'Montserrat', sans-serif;
$font-weight: 500;
$dark-text-color: #333;
$primary-gray-color: #4f4f4f;
$secondary-gray-color: #828282;
$primary-btn-color: #2F80ED;
$completed-color: #3cb993